<div class="container">
  <h1>New Cocktail</h1>

  <%= render 'form', cocktail: @cocktail %>

  <hr>
  <%= link_to cocktails_path do %>
    <i class="fa fa-history"></i> Back to all cocktails
  <% end %>
</div>
