// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cocktail-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 20px;
}

.cocktail-category {
  background-size: cover;
  background-position: center;
  height: 220px;
  display: flex;
  // align-items: end;
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 330px;
  padding-bottom: 8px;
  text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .breed-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .breed-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .breed-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .breed-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .breed-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
